.App {
    text-align: center;
    background-image: url(./components/image/ban.jpg);
    height: 100vh;
    width: 100vw;
}
.box1 {
    margin-top: 100px;
}

@media screen and (max-width: 670px) {
    .App {
        background-color: #696969;
        text-align: center;
        height: 100vh;
        width: 100vw;
    }
}
